google-generativeai>=0.8.3
streamlit
streamlit
google-generativeai>=0.8.3
gTTS
moviepy==1.0.3
streamlit
gTTS
Pillow
requests
streamlit
google-generativeai
moviepy==1.0.3
Pillow
requests
imageio[pyav]
imageio[opencv]
